# Ignore Visual Studio files
*.suo
*.user
*.sln.docstates
*.bak
obj/
bin/

# Ignore NuGet packages
packages/

# Ignore build output
[Dd]ebug/
[Rr]elease/
obj/
bin/
*.exe
*.pdb
*.dll

# Ignore miscellaneous files
Thumbs.db
desktop.ini
*.swp
/.vs/CursoAspNETCore/FileContentIndex/2b453e63-6756-4c99-b651-de761bc553a7.vsidx
/.vs/CursoAspNETCore/FileContentIndex/339695c7-c21f-4a7f-9099-b9da30e9c42d.vsidx
*.vsidx
/.vs/CursoAspNETCore/FileContentIndex/89187f7b-b8e0-4549-b068-cf182ca20247.vsidx
/.vs/CursoAspNETCore/FileContentIndex/b069dc65-0f9b-4e34-a6c6-36795b9e8fcb.vsidx
/.vs/CursoAspNETCore/FileContentIndex/e2162f8e-0f0e-4a05-af96-69046cb667dc.vsidx
/.vs/CursoAspNETCore/v17/.futdcache.v2
/.vs/CursoAspNETCore/v17/.suo
/.vs/ProjectEvaluation/cursoaspnetcore.metadata.v6.1
/.vs/ProjectEvaluation/cursoaspnetcore.projects.v6.1
/.vs/CursoAspNETCore/FileContentIndex/b069dc65-0f9b-4e34-a6c6-36795b9e8fcb.vsidx
/.vs/CursoAspNETCore/FileContentIndex/89187f7b-b8e0-4549-b068-cf182ca20247.vsidx
